---
// Basic Light Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, a rating and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'
import Ratings from '../../ui/Rating.astro'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="Join the MamaTogether Community!"
				text="Discover why thousands of Iranian mothers trust our platform for expert parenting guidance and AI-powered support. Start your parenting journey with confidence today!"
				classes="!shadow-none"
			>
				<Ratings rating={5} text="10K+ mother ratings" classes="mb-4" />
				<Button size="lg" style="primary"> Start Free Trial </Button>
			</CTA>
		</Col>
		<Col span="1" />
	</Row>
</Section>
